:root {
    --offwhite: #FFFFE4;
    --beige: #E0B47B;
    --orange: #ECAD5B;
    --darker-beige: #D09962;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--offwhite);
}

.container {
    max-width: 100%;
}

header {
    background-color: var(--beige);
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}

header h1 {
    font-size: 50px;
    padding-left: 20%;
}

.page-links { /* nav element containing links to other pages */
    text-align: left;
    padding-top: 20px;
    padding-left: 20%;
    margin-left: 2px;
}

.page-links a {
    font-size: 18px;
    text-decoration: underline;
    color: black;
    padding-right: 20px;
}

.title {
    padding-top: 20px;
    padding-left: 20%;
}

/* profile stuff */
.profile {
    padding-top: 20px;
    padding-left: 20%;
}
.profile img {
    width: 150px;
    height: 150px;
}

.info-row {
    text-align: left;
    display: flex;
    color: black;

    /* padding-left: 10px; */
    /* margin: 10px; */
}

