<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Manager - Your Bookings</title>
    <link rel = "stylesheet" href = "../static/bookingsStyle.css">
</head>
<body>
    <header>
        <h1>Hotel Manager (name w.i.p.)</h1>
        <nav class = "page-links" >
            <a href = "rooms.html">Rooms</a>   
            <a href = "bookings.html">Bookings</a> 
            <a href = "service.html">Service</a>
            <a href = "customer.html">Profile</a> 
        </nav>
    </header>

    <h1 class = "title"> Your Bookings </h1>

    <h2 class = "subtitle"> Rooms </h2>

    <section class = "rooms-container"> 
            <div class = "room-card">
                <!-- image can be what's inside the room? although all rooms will look pretty similar... -->
                <img src = "" alt = "Room Image" class = "room-image">
                
                <!-- placeholder values - retrieve and create these in java?-->
                <div class = "room-details">
                    <p class = "room-number"> room 301 </p>
                    <p class = "room-description"> floor 3, 2 beds </p>
                    <div class = "room-pricing"> 
                        <p> Price: </p>
                        <p class = "room-price"> $149</p> <!-- placeholder-->
                        <p>per night</p>
                    </div>
                    <p class = "booking-details"> Mar 13 - Mar 14, 2024 (1 Night) </p>
                    <button class = "room-book-button">Remove</button>
                </div>
            </div>
            <div class = "room-card">
                <!-- image can be what's inside the room? although all rooms will look pretty similar... -->
                <img src = "" alt = "Room Image" class = "room-image">

                <div class = "room-details">
                    <p class = "room-number"> room 404 </p>
                    <p class = "room-description"> floor 4, 4 beds </p>
                    <div class = "room-pricing"> 
                        <p> Price: </p>
                        <p class = "room-price"> $124</p> <!-- placeholder-->
                        <p>per night</p>
                    </div>
                    <p class = "booking-details"> Mar 16 - Mar 18, 2024 (2 Nights) </p>
                    <button class = "room-book-button">Remove</button>
                </div>
            </div>
    </section>
</body>
</html>
