<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Manager - Your Bookings</title>
    <link rel = "stylesheet" href = "bookingsStyle.css">
</head>
<body>
    <header>
        <h1>Hotel Manager</h1>
        <nav class = "page-links" >
	    <a href = "/">Index</a>
            <a href = "/rooms">Rooms</a>   
            <a href = "/bookings">Bookings</a> 
            <a href = "/services">Service</a>
            <a href = "/customers">Customers</a> 
			
			<!--
			<a th:href="@{/rooms}">Rooms</a>   
            <a th:href = "@{/bookings}">Bookings</a> 
            <a th:href = "@{/services}">Service</a>
            <a th:href = "@{/customers}">Customers</a> 
			-->
						
        </nav>
    </header>

    <h1 class = "title"> Manage Customer Bookings </h1>

	<!-- this is where you enter info to add new bookings (start date, end date, customer email, service?) -->
	<section class = "add-booking-container">
		<!-- handle object creation in backend -->
		<form class = "booking-info-form" th:action="@{/save-booking}" method = "post" th:object="${booking}">
			<label>Start Date [YYYY-MM-DD]: </label>
			<input type="date" th:field="*{startDate}" name="startDate"/>
			<label>End Date [YYYY-MM-DD]: </label>
			<input type="date" th:field="*{endDate}" name="endDate"/>
			<!-- be able to search by customer email in backend ('getCustomerByEmail' method) and add it to the booking object-->
			<!-- put this inside the 'card' so that you can add services to the list (type in name of service, then have 'getServiceByName' method in backend to get the service by name from service repo and add the service to the booking object's service list-->
			<label>Customer email: </label>
			<input type="text" name="email" />
			<label>Room number: </label>
			<input type="text" name="roomNumber" />
			
			<button type="submit">Save</button>
		</form>
	</section>
	
	<h2 class = "subtitle"> List of Customer Bookings </h2>
	
    <section class = "bookings-container"> 
		<div th:each="booking : ${listBookings}">
			<!-- each booking card contains information on the booking: one side will be for customer details, another will be for room details, and another will be for list of services-->
            <div class = "booking-card">
                
                <!-- customer details (first name, last name, email, phone)-->
				<div class = "customer-details">
					<p>Customer Details: </p>
					<p th:text="${booking.customer.firstName}">
					<p th:text="${booking.customer.lastName}">
					<p th:text="${booking.customer.email}">
					<p th:text="${booking.customer.phoneNumber}">
				</div>
				
				<!-- room details (number, price, description?)-->
                <div class = "room-details">
					<p>Room Details: </p>
					<div class = "room-number"> 
						<p>Room </p>
						<p th:text="${booking.room.roomNumber}">
					</div>
					<div class = "room-type"> 
						<p> Type: </p>
						<p th:text="${booking.room.type}"> 
					</div>
                    <div class = "room-pricing"> 
                        <p>Price: </p>
                        <p th:text="${booking.room.price}"> 
                        <p> per night</p>
                    </div>
					<div class = "room-booked-dates">
						<p th:text="${booking.startDate}">
						<p> to </p>
						<p th:text="${booking.endDate}">
					</div>
                </div>
				
				<!-- service details list (name, description, price)-->
				<div class = "services-list">
					<p>Booked Services: </p>
					<div th:each="service : ${booking.providedServices}">
						<p th:text="${service.name}">
						<p th:text="${service.description}">
						<p th:text="${service.price}">
					</div>
					<form th:action="@{/save-service-to-booking}" method="post">	<!-- make sure action to add service is right (i put temp name of post request for now) -->
						<label>Service: </label>
						<input type="text" th:field="*{booking.service}" />			<!-- make sure field is correct -->
						<button type="submit">Add</button> 
					</form> 
				</div>
				<form th:action="@{/remove-booking(id=${booking.id})}" method="post">	<!-- make sure action to remove is right -->
	            	<button type="submit" class="remove-booking-button">Remove</button> 
				</form> 
            </div>	
		</div>
		
		<!-- temp placebolder values for visual testing -->
        <div class = "booking-card">
			
			<div class = "customer-details">
				<p>Customer Details: </p>
				<p > first </p>
				<p > last </p>
				<p > email@email.com </p>
				<p > 123-123-1234 </p>
			</div>
			
            <div class = "room-details">
				<p>Room Details: </p>
				<div class = "room-number">
					<p> Room </p>
					<p> 404 </p>
				</div>
				<div class = "room-type"> 
					<p> Type: </p>
					<p th:text="${booking.room.type}"> 
				</div>
                <div class = "room-pricing"> 
                    <p>Price: </p>
                    <p>$124</p>
                    <p> per night</p>
                </div>
				<div class = "room-booked-dates">
					<p> Mar 16 </p>
					<p> to </p>
					<p> Mar 18 </p>
				</div>
            </div>
			
			<div class = "services-list">
				<p>Booked Services: </p>
				<p> Cleaning Services </p>
				<p> Our staff will clean the room</p>
				<p> Price: $20</p>
				<p> Food Services </p>
				<p> Our staff will provide lunch and dinner</p>
				<p> Price: $20</p>
				<form th:action="@{/save-service-to-booking}" method="post">	
					<label>Service: </label>
					<input type="text" th:field="*{booking.service}" />			
					<button type="submit">Add</button> 
				</form> 
			</div>
			<form method="post">	
            	<button type="submit" class="remove-booking-button">Remove</button> 
			</form> 
        </div>
		<!-- end of temp -->
		
    </section>
</body>
</html>
