<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Manager - Your Profile</title>
    <link rel = "stylesheet" href = "../static/customerStyle.css">
</head>
<body>
    <header>
        <h1>Hotel Manager (name w.i.p.)</h1>
        <nav class = "page-links" >
            <a href = "rooms.html">Rooms</a>   
            <a href = "bookings.html">Bookings</a> 
            <a href = "service.html">Service</a>
            <a href = "customer.html">Profile</a> 
        </nav>
    </header>

    <h1 class = "title"> Your Profile </h1>

    <section class="profile">
        <!-- <img src = "./images/user.png" alt = "User Icon" class = "user-profile-icon"> -->
        <h2> Your Name </h2>
        <nav class = "info-row">
        	<h3> Phone Number: </h3>
        	<button> [change] </button>
        </nav>
        <nav class = "info-row"> 
        	<h3> Email: </h3>
        	<button> [change] </button>
        </nav>
        
    </section>
</body>
</html>
