<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Manager - Customers</title>
    <link rel = "stylesheet" href = "../static/customerStyle.css">
</head>
<body>
    <header>
        <h1>Hotel Manager (name w.i.p.)</h1>
        <nav class = "page-links" >
	    <a href = "/">Index</a>
            <a href = "/rooms">Rooms</a>   
            <a href = "/bookings">Bookings</a> 
            <a href = "/services">Service</a>
            <a href = "/customers">Customers</a> 
        </nav>
    </header>

    <h1 class = "title"> List of Customers </h1>
	
	<!-- this is where you enter info to add new customers (first name, last name, email, phone ) -->
	<section class = "add-customer-container">
		<!-- object creation is handled in frontend? -->
		<form th:action="@{/save-customer}" method = "post" th:object="${customer}">
			<label>First Name:</label>
			<input type="text" th:field="*{firstName}" />
			<label>Last Name:</label>
			<input type="text" th:field="*{lastName}" />
			<label>Email:</label>
			<input type="text" th:field="*{email}" />
			<!-- need to convert phone to long? for backend or prob better to change phone in backend to String -->
			<label>Phone Number:</label>
			<input type="text" th:field="*{phoneNumber}" />
			
			<button type="submit">Save</button>
		</form>
	</section>
	
	<h2 class = "subtitle"> Customers </h2>
	
	<section class = "customers-container"> 
		<!-- idk what the name of the list of rooms list is supposed to be (says listBookings right now and only one method in controller) -->
		<div th:each="customer : ${listCustomers}">
	        <div class = "customer-card">
	            
				<p th:text="${customer.firstName}">
				<p th:text="${customer.lastName}">
				<p th:text="${customer.email}">
				<p th:text="${customer.phoneNumber}">
			
				<button class = "remove-customer-button">Remove</button> <!-- add action to remove customer -->
	        </div>	
		</div>
					
		<!-- temp placebolder values for visual testing -->
	    <div class = "customer-card">
	
	        <div class = "customer-details">
	            <p class = "customer-first">First</p>
				<p class = "customer-first">Last</p>
				<p class = "customer-first">email@email.com</p>
				<p class = "customer-first">123-123-1234</p>
				
	            <button class "remove-customer-button">Remove</button>
	        </div>
	    </div>
	</section>

</body>
</html>
