<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Manager - Your Bookings</title>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
    <header>
        <h1>Hotel Manager (name w.i.p.)</h1>
        <nav class = "page-links" >
            <a href = "/">Index</a>
            <a href = "/rooms">Rooms</a>   
            <a href = "/bookings">Bookings</a> 
            <a href = "/services">Service</a>
            <a href = "/customers">Customers</a> 
        </nav>
    </header>

    <h1><center>Welcome to our hotel management project!</center></h1>
<h3>
    <span>Group members:</span>
    <ul>
    <br>
    <li>Evan Dong</li>
    <li>Sahil Kamil</li>
    <li>Alexander Tran</li>
    <li>Ashar Izhar</li>
    </ul>
</h3>

<h2><center>About the Project</center></h2>
<br>
<h4><center>This project is a hotel management system that allows you to
    sort by customers, rooms, bookings, and hotel services! You can create each
    of those as well as delete and search them by ID.
</center></h4>

</body>
