<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Manager - Rooms</title>
    <link rel = "stylesheet" href = "../static/roomsStyle.css">
    <link rel = "stylesheet" href = "roomsStyle.css">
</head>
<body>
    <header>
        <h1>Hotel Manager</h1>
        <nav class = "page-links" >
        	<a href = "/">Index</a>
            <a href = "/rooms">Rooms</a>   
            <a href = "/bookings">Bookings</a> 
            <a href = "/services">Service</a>
            <a href = "/customers">Customers</a> 
			
			<!--
			<a th:href="@{/rooms}">Rooms</a>   
            <a th:href = "@{/bookings}">Bookings</a> 
            <a th:href = "@{/services}">Service</a>
            <a th:href = "@{/customers}">Customers</a> 
			-->
			
        </nav>
    </header>

	<h1 class = "title">Manage Rooms</h1> 
	
	<!-- this is where you enter info to add new rooms (room number, price per night) -->
	<section class = "add-room-container">
		<!-- object creation is handled in frontend? -->
		<form class = "room-info-form" th:action="@{/save-room}" th:object="${room}" method = "post">
			<!-- need to convert number to int? for backend or prob better to change number in backend to String -->
			<label for="roomNumber">Room Number:</label>
			<input type="text" id="roomNumber" th:field="*{roomNumber}" />
			<!-- need to convert price to double? for backend or prob better to change price in backend to String -->
			<label for="type">Room Type:</label>
			<input type="text" id="type" th:field="*{type}" />
            <label for="price">Room Price:</label>
			<input type="text" id="price" th:field="*{price}" />
			
			<button type="submit">Save</button>
		</form>
	</section>

    <h2 class = "subtitle">List of Rooms</h2>

    <section class = "rooms-container"> 
		<!-- idk what the name of the list of rooms list is supposed to be (says listBookings right now and only one method in controller) -->

		<div th:each="room : ${listRooms}" class="room-card">
			<!-- just some online hotel image to make the frontend look prettier... -->
			<img src = "../images/room-two-beds.png" alt = "Room Image" class = "room-image"> 
			
			<div class = "room-details"> 
	            <div th:text="${room.roomNumber}" class="room-number">Room Number</div>
	            <div th:text="${room.type}" class="room-type">Room Type</div>
	            <div th:text="${room.price}" class="room-price">Room Price</div>
			</div>
			
			<form th:action="@{/remove-room(id=${room.id})}" method="post">
            	<button type="submit" class="remove-room-button">Remove</button>
            </form>

        </div>
					
		<!-- temp placebolder values for visual testing -->
        <div class = "room-card">
			
            <!-- just some online hotel image to make the frontend look prettier... -->
            <img src = "../images/room-shared-bed.png" alt = "Room Image" class = "room-image"> 
			
			<div class = "room-details">
                <p class = "room-number"> room 404 </p>
				<p class = "room-type">Single Bed</p>
				<p class = "room-price"> Price: $124 per night</p> <!-- not sure which style we should use -->
				
            </div>
			<form  method="post">
            	<button type="submit" class="remove-room-button">Remove</button>
            </form>
        </div>
		<!-- end of temp -->
    </section>
</body>
</html>
