<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Manager - Services</title>
    <link rel = "stylesheet" href = "serviceStyle.css">
</head>
<body>
    <header>
        <h1>Hotel Manager</h1>
        <nav class = "page-links" >
	    <a href = "/">Index</a>
            <a href = "/rooms">Rooms</a>   
            <a href = "/bookings">Bookings</a> 
            <a href = "/services">Service</a>
            <a href = "/customers">Customers</a> 
			
			<!--
			<a th:href="@{/rooms}">Rooms</a>   
            <a th:href = "@{/bookings}">Bookings</a> 
            <a th:href = "@{/services}">Service</a>
            <a th:href = "@{/customers}">Customers</a> 
			-->
			
        </nav>
    </header>

    <h1 class = "title">Manage Services</h1>

	<!-- this is where you enter info to add new services (name, description, price) -->
	<section class = "add-service-container">
		<!-- object creation is handled in frontend -->
		<form class = "service-info-form" th:action="@{/save-service}" method = "post" th:object="${providedService}">
			<label>Name: </label>
			<input type="text" th:field="*{name}" />
			<label>Description: </label>
			<input type="text" th:field="*{description}" />
			<!-- need to convert price to double for backend or change price in backend to String -->
			<label>Price: </label>
			<input type="text" id="price" th:field="*{price}" />
			
			<button type="submit">Save</button>
		</form>
	</section>
	
	<h2 class = "subtitle"> List of Services </h2>
		
	    <section class = "service-container"> 
			
			<div th:each="service : ${listProvidedServices}">
	            <div class = "service-card">
					<div class = "service-details">
						<p th:text="${service.name}">
						<p th:text="${service.description}">
						<p th:text="${service.price}">
					</div>
					<form th:action="@{/remove-service(id=${service.id})}" method="post">	<!-- make sure action to remove is right -->
		            	<button type="submit" class="remove-service-button">Remove</button> 
					</form> 
	                
	            </div>	
			</div>
			
		</section>
	
</body>
</html>
